*{
    padding: 0;
    margin: 0;
}
body{
    background-image:url(biryani.avif);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.head{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    /*align-items: center;
    justify-content: space-evenly;
    position: sticky;*/
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 10%;
    position:sticky;
}
nav ul li{
    list-style-type:none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: blue;
    transition: 0.3s;
}
.home {
    width: 100%;
    height: 75vh;
}
.text{
    color:wheat;
    text-align: center;
    font-weight: 500;
    padding: 30px 30px;
    margin-bottom: 25px;
    height: 25vh;
    font-size: 40px;
    margin-top: 40px;
}
.text h2{
    font-size: 30px;
}
button{
    font-size: 15px;
    font-weight: 200px;
    padding: 0.5em 1.3em;
    margin: 2%;
    border: none;
    border-radius: 20px;
    color:black;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}
button a{
    color: black;
}
button:hover {
    background-color: #74573b;
    color: antiquewhite;
}

h1 {
        margin-top: 30px;
        padding: 35px;
        /*font-family: "Lato", sans-serif;*/
        font-weight: 500;
        text-align: center;
        color: brown;
}
.high{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.high li {
    justify-content: space-between;
    padding: 10px;
    margin-left: 150px;
}
.highlights{
    background-color: darkgrey;
}

.about-text {
    padding: 15px;
    display: flex;
    }
.about-text img {
    width: 500px;
    }
.about-context{
    padding: 10px;
    margin-left: 10px;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
}
p{
        color:darkslategrey;
        font-size: 25px;
}
.contact h2{
    margin-left: 50px;
    font-size: 25px;
    color: lightskyblue;
    padding-left: 40px;
    text-align: center;
}
.contact h3{
    margin-left: 50px;
    font-size: 25px;
    color: lightskyblue;
    padding-bottom: 40px;
    padding-left: 40px;
    text-align: center;
}
.contact{
    background-color: black;
}
.int img{
    margin-left: 40px;
    width:30px;
    height:auto;
}
